* {
    font-family: 'Inter';
}

.viewcontact-header {
    margin-bottom: 20px;
}

.viewcontact-headline {
    display: flex;
    align-items: center;
    gap: 15px; /* Abstand zwischen Text und Strich */
}

.separator {
    width: 3px;
    height: 59px;
    background-color: rgba(0, 124, 238, 1);
}

.subtitle {
    font-size: 27px;
    color: rgba(42, 54, 70, 1);
}

.viewcontact-card {
    height: 364px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.viewcontact-card-headline {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.avatar-container {
    width: 120px;
    height: 120px;
    background: rgba(255, 122, 0, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    font-size: 47px;
    font-weight: 500;
    color: white;
}

.name-container {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 47px;
    font-weight: 500;
    margin-bottom: 5px;
}

.contact-actions {
    display: flex;
    gap: 10px;
}

.contact-info {
    margin-top: 20px;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

.contact-details {
    margin-top: 10px;
}

p {
    font-size: 16px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: blue;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
