<div class="board">
  <div class="board-header">
    <h1>Board</h1>
    <div class="board-controls">
      <div class="search-container header-search">
        <input type="text" placeholder="Find Task" />
        <img src="./assets/img/board/search.svg" alt="Search" />
      </div>
      <button class="add-task">
        <img src="./assets/img/board/add.svg" alt="Add" />
        <span class="btn-text">Add task</span>
      </button>
    </div>
  </div>
  <div class="mobile-search">
    <div class="search-container">
      <input type="text" placeholder="Find Task" />
      <img src="./assets/img/board/search.svg" alt="Search" />
    </div>
  </div>
  <div class="main-board">
    <div class="board-column">
      <div class="column-heading">
        <h2>To do</h2>
        <img src="./assets/img/board/plusbutton.svg" alt="Add Task" />
      </div>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[inProgressList, awaitFeedbackList, doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of todo; track item) {
        <div class="example-box" cdkDrag>{{ item }}</div>
        }
        <!-- Platzhalter-DIV: wird nur angezeigt, wenn todo leer ist -->
        <div *ngIf="todo.length === 0" class="no-data">No tasks To do.</div>
      </div>
    </div>
    <div class="board-column">
      <div class="column-heading">
        <h2>in progress</h2>
        <img src="./assets/img/board/plusbutton.svg" alt="Add Task" />
      </div>
      <div
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress"
        [cdkDropListConnectedTo]="[todoList, awaitFeedbackList, doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of inProgress; track item) {
        <div class="example-box" cdkDrag>{{ item }}</div>
        }
        <!-- Platzhalter-DIV: wird nur angezeigt, wenn todo leer ist -->
        <div *ngIf="inProgress.length === 0" class="no-data">
          No tasks in progress.
        </div>
      </div>
    </div>
    <div class="board-column">
      <div class="column-heading">
        <h2>Await feedback</h2>
        <img src="./assets/img/board/plusbutton.svg" alt="Add Task" />
      </div>
      <div
        cdkDropList
        #awaitFeedbackList="cdkDropList"
        [cdkDropListData]="awaitFeedback"
        [cdkDropListConnectedTo]="[todoList, inProgressList, doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of awaitFeedback; track item) {
        <div class="example-box" cdkDrag>{{ item }}</div>
        }
        <!-- Platzhalter-DIV: wird nur angezeigt, wenn todo leer ist -->
        <div *ngIf="awaitFeedback.length === 0" class="no-data">
          No tasks Await feedback.
        </div>
      </div>
    </div>
    <div class="board-column">
      <div class="column-heading">
        <h2>Done</h2>
      </div>
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList, inProgressList, awaitFeedbackList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of done; track item) {
        <div class="example-box" cdkDrag>{{ item }}</div>
        }
        <!-- Platzhalter-DIV: wird nur angezeigt, wenn todo leer ist -->
        <div *ngIf="done.length === 0" class="no-data">No tasks Done.</div>
      </div>
    </div>
  </div>
</div>
