.board {
  padding: 64px;

  h2 {
    margin: 0;
    font-size: 16px;
  }

  @media (max-width: 1000px) {
    flex: 1;
  }

  @media (max-width: 420px) {
    padding: 20px 20px 100px 20px;
  }
}

.board-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;

  h1 {
    margin: 0;
  }

  .board-controls {
    display: flex;
    align-items: center;
    gap: 2rem;

    .search-container {
      background-color: #fff;
      display: flex;
      align-items: center;
      border: 1px solid #a8a8a8;
      border-radius: 8px;
      overflow: hidden;
      width: 312px;

      input {
        border: none;
        padding: 8px 0;
        outline: none;
        border-right: 1px solid rgba(209, 209, 209, 1);
        font-size: 20px;
        margin-left: 5px;
      }

      input::placeholder {
        color: rgba(209, 209, 209, 1);
      }

      img {
        transition: filter 0.3s ease;
        background-color: transparent;
        border-radius: 50%;
        display: inline-block;
        width: 32px;

        &:hover {
          background-color: #a8a8a8;
        }
      }
    }

    .add-task {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background-color: #2a3647;
      color: #ffffff;
      border: none;
      border-radius: 8px;
      padding: 0.5rem 1rem;
      width: 160px;
      cursor: pointer;
      font-weight: 700;
      font-size: 21px;

      @media (max-width: 1550px) {
        width: auto;
        padding: 0.5rem;
      }

      span {
        padding-top: 2px;
      }

      img {
        width: 18px;
      }

      &:hover {
        background-color: var(--accentColor2);
      }
    }
  }
}

//Add Task Overlay
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Halbtransparenter Hintergrund */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  z-index: 1000;

  /* Stellt sicher, dass es über anderen Inhalten liegt */
  app-add-task {
    ::ng-deep .footer {
      position: fixed;
      width: 73%;
      bottom: 45px !important;
    }

    ::ng-deep .dropdown-options {
      height: 350px;
    }
  }
}

.overlay-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

app-add-task {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  /* Stellt sicher, dass die Komponente über dem Hintergrund liegt */
  width: 80%;
  height: 90%;
  max-width: 80%;
  /* Beispiel für maximale Breite */
  max-height: 90%;
  /* Beispiel für maximale Höhe */
  overflow-y: auto;

  /* Ermöglicht Scrollen bei Bedarf */
  @media(max-width: 500px) {
    max-width: 95%;
    width: 95%;
  }
}

//Main Board
.main-board {
  display: flex;
  justify-content: space-between;

  .board-column {
    width: 284px;


    @media (max-width: 1550px) {
      width: 100%;
    }

    .column-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 16px;
      margin: 16px;

      img {
        cursor: pointer;
        width: 24px;
        transition: filter 0.3s;

        &:hover {
          // Beispiel-Filter; der exakte Wert muss ggf. an deine var(--accentColor2) angepasst werden
          filter: brightness(0) saturate(100%) invert(40%) sepia(70%) saturate(500%) hue-rotate(160deg);
        }
      }
    }

    .board-section {
      max-height: 70vh;
      overflow-y: auto;
      width: 305px;

      @media (max-width: 1550px) {
        display: flex;
        flex-direction: row; // Hier wird von column zu row gewechselt
        gap: 16px; // Falls Abstand zwischen den Elementen benötigt wird
        width: 100%;
      }
    }
  }
}

@media (max-width: 1550px) {
  // h1 {
  //   font-size: 34px;
  // }

  .main-board {
    flex-direction: column;
  }

  .mobile-search {
    display: flex;
    text-align: center;
    margin-top: 1rem;


    .search-container {
      background-color: #fff;
      border: 1px solid lightgray;
      border-radius: 8px;
      display: inline-flex;
      align-items: center;
      overflow: hidden;

      input {
        border: none;
        padding: 0.5rem;
        outline: none;
        border-right: 1px solid gray;
      }

      img {
        padding: 0.5rem;
      }
    }
  }
}

@media (max-width: 1050px) {
  .board-header .board-controls .search-container {
    display: none;
  }
}

/* Auf breiteren Bildschirmen das zusätzliche Search-Feld ausblenden */
@media (min-width: 1050px) {
  .mobile-search {
    display: none;
  }
}

@media (max-width: 500px) {
  .board-header .board-controls .add-task .btn-text {
    display: none;
  }

  h1 {
    font-size: 47px;
  }
}

// SCSS für Drag and Drop:
.dadtesting {
  /* Falls du die Flex-Eigenschaften direkt hier anwenden möchtest */
  display: flex;
  flex-direction: row;
  gap: 25px; // Abstand zwischen den Spalten
  flex-wrap: nowrap; // Alle Spalten in einer Zeile
  overflow-x: auto; // Bei Bedarf horizontales Scrollen
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  margin: 16px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media (max-width: 1550px) {
  .example-list {
    display: flex;
    flex-direction: row;
  }
}

/* Zusätzliche CSS-Regel für den Platzhalter */
.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 16px;
  // text-align: center;
  color: rgba(168, 168, 168, 1);

  height: 75%;
  width: 242px;
  border-radius: 10px;
  border: 1px dashed rgba(168, 168, 168, 1);
  background-color: rgba(231, 231, 231, 1);
}