<div class="board">
  <div class="board-header">
    <h1>Board</h1>
    <div class="board-controls">
      <div class="search-container header-search">
        <input
          type="text"
          placeholder="Find Task"
          [(ngModel)]="searchTerm"
          (input)="filterTasks()"
        />
        <img src="./assets/img/board/search.svg" alt="Search" />
      </div>
      <button class="add-task" (click)="openAddTaskOverlay()">
        <img src="./assets/img/board/add.svg" alt="Add" />
        <span class="btn-text">Add task</span>
      </button>
    </div>
  </div>
  <div class="mobile-search">
    <div class="search-container">
      <input type="text" placeholder="Find Task" />
      <img src="./assets/img/board/search.svg" alt="Search" />
    </div>
  </div>
  @if (isAddTaskOverlayVisible) {
  <div class="overlay">
    <app-add-task (taskCreated)="handleTaskCreated($event)"></app-add-task>
    <div class="overlay-background" (click)="closeAddTaskOverlay()"></div>
  </div>
  }
  <div class="main-board">
    <div class="board-column">
      <div class="column-heading">
        <h2>To do</h2>
        <img
          src="./assets/img/board/plusbutton.svg"
          alt="Add Task"
          (click)="openAddTaskOverlay()"
        />
      </div>
      <div class="board-section">
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[
            inProgressList,
            awaitFeedbackList,
            doneList
          ]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
          id="todoList"
        >
          @for (task of todo; track task.id) {
          <app-task [task]="task" cdkDrag [cdkDragData]="task"></app-task>
          } @empty {
          <div class="no-data">No tasks To do</div>
          }
        </div>
      </div>
    </div>
    <div class="board-column">
      <div class="column-heading">
        <h2>In progress</h2>
        <img
          src="./assets/img/board/plusbutton.svg"
          alt="Add Task"
          (click)="openAddTaskOverlay()"
        />
      </div>
      <div class="board-section">
        <div
          cdkDropList
          #inProgressList="cdkDropList"
          [cdkDropListData]="inProgress"
          [cdkDropListConnectedTo]="[todoList, awaitFeedbackList, doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
          id="inProgressList"
        >
          @for (task of inProgress; track task.id) {
          <app-task [task]="task" cdkDrag [cdkDragData]="task"></app-task>
          } @empty {
          <div class="no-data">No tasks in progress</div>
          }
        </div>
      </div>
    </div>
    <div class="board-column">
      <div class="column-heading">
        <h2>Await feedback</h2>
        <img
          src="./assets/img/board/plusbutton.svg"
          alt="Add Task"
          (click)="openAddTaskOverlay()"
        />
      </div>
      <div class="board-section">
        <div
          cdkDropList
          #awaitFeedbackList="cdkDropList"
          [cdkDropListData]="awaitFeedback"
          [cdkDropListConnectedTo]="[todoList, inProgressList, doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
          id="awaitFeedbackList"
        >
          @for (task of awaitFeedback; track task.id) {
          <app-task [task]="task" cdkDrag [cdkDragData]="task"></app-task>
          } @empty {
          <div class="no-data">No tasks Await feedback</div>
          }
        </div>
      </div>
    </div>
    <div class="board-column">
      <div class="column-heading">
        <h2>Done</h2>
      </div>
      <div class="board-section">
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[
            todoList,
            inProgressList,
            awaitFeedbackList
          ]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
          id="doneList"
        >
          @for (task of done; track task.id) {
          <app-task [task]="task" cdkDrag [cdkDragData]="task"></app-task>
          } @empty {
          <div class="no-data">No tasks Done</div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
