section {
    display: flex;
    padding: 50px 0 0 50px;
    width: fit-content;
    height: auto;

    @media (max-width: 650px) {
        padding: 0;
        width: 100%;
    }

    @media (max-width: 475px) {
        position: absolute;
        left: -20px;
    }

    @media (max-width: 400px) {
        height: 50vh;
        left: -40px;
    }
}

h1 {
    font-size: 58px;
}

.header-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;

    .separator {
        width: 3px;
        height: 59px;
        background-color: #29abe2;
    }

    .subtitle {
        font-size: 27px;
        color: rgba(42, 54, 70, 1);

        @media (max-width: 380px) {
            font-size: 21px;
        }
    }

    @media (max-width: 1350px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: fit-content;

        .subtitle {
            order: 1;
        }

        .separator {
            width: 90px;
            height: 3px;
            order: 2;
        }
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: auto;
    gap: 40px;
    opacity: 1;
    animation: none; // Entfernen Sie die globale Animationsdefinition
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 1000px) {
    .main-container {
        width: 80%;
        gap: 20px;
    }
}

@media (max-width: 650px) {
    .main-container {
        transform: scale(0.8);
    }
}

@media (max-width: 520px) {
    .main-container {
        transform: scale(0.7);
    }
}

@media (max-width: 450px) {
    .main-container {
        transform: scale(0.6);
    }
}

@media (max-width: 380px) {
    .main-container {
        transform: scale(0.52);
    }
}

.top-container {
    display: flex;
    justify-content: space-between;
    width: 560px;
    height: 168px;

    .top-container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 168px;
        padding: 38px 19px;
        background: white;
        border-radius: 30px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        gap: 18px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .top-container-main:hover {
        transform: scale(1.05);
        background-color: rgba(42, 54, 71, 1);
        color: white;
    }

    .top-container-main:hover .todo-done-svg circle {
        fill: white;
    }

    .top-container-main:hover .todo-done-svg1 circle {
        fill: white;
    }

    .top-container-main:hover .todo-done-svg path {
        stroke: rgba(42, 54, 71, 1);
    }

    .top-container-main:hover .todo-done-svg1 path {
        stroke: rgba(42, 54, 71, 1);
        fill: rgb(42, 54, 71);
    }

    .top-container-main:hover .counter-container .counter,
    .top-container-main:hover .counter-container .counter-description {
        color: white;
    }
}

.urgent-deadline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 168px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    gap: 61px;
    cursor: pointer;
    transition: all 0.3s ease;

    .urgent-container {
        display: flex;
        align-items: center;
        height: 96px;
        gap: 18px;
    }

    .deadline-container {
        display: flex;
        flex-direction: column;
        width: 178px;
        height: 57px;
        gap: 13px;
    }
}

.urgent-deadline-container:hover {
    transform: scale(1.05);
    background-color: rgba(42, 54, 71, 1);
    color: white;
}

.bottom-task-container {
    display: flex;
    justify-content: space-between;
    width: 560px;
    height: 170px;

    .tasks {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 168px;
        height: 168px;
        padding: 25px 0;
        background: white;
        border-radius: 30px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .tasks:hover {
        transform: scale(1.05);
        background-color: rgba(42, 54, 71, 1);
        color: white;
    }
}

.counter {
    display: flex;
    justify-content: center;
    font-size: 64px;
    font-weight: 600;
}

.counter-description {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.deadline-container {
    .deadline-date {
        font-size: 21px;
        font-weight: 700;
    }

    .deadline-date-desription {
        font-size: 16px;
        font-weight: 400;
    }
}

.hello-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 385px;
    opacity: 1;

    .timezone {
        font-size: 47px;
        font-weight: 500;
        margin-top: 155px;
        color: rgba(42, 54, 71, 1);
    }

    .user-name {
        font-size: 64px;
        font-weight: 700;
        color: rgba(41, 171, 226, 1);
    }

    @media (max-width: 1350px) {
        position: absolute;
        top: -4px;
        left: 590px;

        .timezone {
            font-size: 40px;
        }

        .user-name {
            font-size: 35px;
        }
    }

    @media (max-width: 1000px) {
        left: 360px;
        width: fit-content;
    }

    @media (max-width: 700px) {
        display: none;
    }

    @media (max-width: 600px) {
        .timezone {
            font-size: 26px;
        }
    }

    @media (max-width: 400px) {
        .timezone {
            font-size: 22px;
        }
    }
}

@keyframes helloContainer {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@media (max-width: 699px) {
    .hello-container {
        position: fixed;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        width: auto;
        z-index: 1000;

        @keyframes fadeOut {
            0% {
                opacity: 1;
            }

            100% {
                opacity: 0;
                display: none;
            }
        }
    }

    .hello-container.animate-once {
        animation: fadeOut 3s ease-out forwards;
        display: flex;
    }

    .main-container.animate-once {
        opacity: 0;
        animation: fadeIn 1s ease-out forwards;
        animation-delay: 3s;
        display: flex;
    }
}