<div class="task-card">
    <div class="task-label">User Story</div>
        <div class="task-title">
            <h5>Kochwelt Page & Recipe Recommender</h5>
        </div>
        <div>
            <p class="task-description">Build start page with recipe recommendation...</p>
        </div>
    <div class="task-progress">
        <div class="progress-bar">
            <div class="progress-fill" style="width: 50%;"></div>
        </div>
        <span>1/2 Subtasks</span>
    </div>
    <div class="task-assignees-to">
        <div class="task-assignees">
            <span class="assignee" style="background-color: #FF8C00;">AM</span>
            <span class="assignee" style="background-color: #32CD32;">EM</span>
            <span class="assignee" style="background-color: #6A5ACD;">MB</span>
        </div>
        <div class="priority">
            =
        </div>
    </div>
</div>
<p>task works!</p>
@if(isClicked) {
<div>overlay</div>
}
