button {
  font-weight: 700;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: #fff;
  background-color: #2a3647;
  padding: 12px 0;
  width: 352px;
  border-radius: 10px;
  height: 56px;
  margin: 22.5px 0;
  cursor: pointer;
}
