.and-task {
  padding: 76px;
  max-width: 1440px;
}

.top {
  display: flex;
  justify-content: space-between;
  img {
    cursor: pointer;
  }
}

.addtask-content {
  display: flex;
  gap: 20px;
  position: relative;

  .left,
  .right {
    width: 50%;
  }

  .left {
    border-right: 2px solid gray;
    padding-right: 100px;
    margin-right: 40px;
    margin-top: 40px;
  }
  .right {
    margin-left: 40px;
    margin-top: 40px;
  }

  .input-field {
    margin-bottom: 20px;

    .label {
      font-size: 16px;
      margin-bottom: 5px;

      .required {
        color: red;
      }
    }

    .input-wrapper {
      input,
      textarea,
      select {
        width: 100%;
        border: 1px solid #ccc; // heller Border
        border-radius: 8px;
        padding: 8px;
        font-size: 14px;
      }

      textarea {
        height: 100px;
      }
    }

    .error {
      font-size: 12px;
      color: red !important;
      margin-top: 5px;
      // display: none; // Entferne diese Zeile
    }
  }

  //Category

  .input-field-category {
    margin-bottom: 20px;

    .label {
      font-size: 16px;
      margin-bottom: 5px;

      .required {
        color: red;
      }
    }

    .input-wrapper-category {
      position: relative;
    }

    .selected-category {
      cursor: pointer;
      padding: 10px;
      border: 1px solid #ccc;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 40px;
      border-radius: 10px;
      background-color: white; // Stelle sicher, dass es einen Hintergrund hat

      svg {
        margin-left: auto;
      }
    }

    .dropdown-options {
      position: absolute;
      background-color: white;
      border: 1px solid #ccc;
      z-index: 1;
      width: 100%; /* Breite an den Wrapper anpassen */
      border-top: none;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      max-height: 200px; /* Optionale maximale Höhe mit Scrollbar */
      overflow-y: auto;
    }

    .category-option {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
      }

      &.active {
        background-color: #e0e0e0;
        font-weight: bold;
      }
    }

    .error-category {
      color: red;
      font-size: 12px;
      margin-top: 5px;
    }

    &.error-active .selected-category {
      border-color: red;
    }
  }

  // Speziell für das Datumfeld
  .date-wrapper {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 8px;
    border: 1px solid #ccc;

    input {
      flex: 1;
      border: none;
      outline: none;
    }

    .calendar-link {
      display: flex;
      align-items: center;

      img {
        display: block;
      }
    }
  }

  .priority-wrapper {
    display: flex;
    gap: 10px;

    .priority-option {
      flex: 1;
      width: 136px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border: 1px solid gray;
      border-radius: 8px;
      padding: 8px;
      cursor: pointer;
      transition: box-shadow 0.3s;

      &:hover {
        box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
      }

      svg {
        margin-left: 15px;
      }

      &.selected {
        color: white;

        &.low {
          background-color: #7ae229;
          color: white;
          font-weight: 700;
          path {
            fill: #fff;
          }
        }

        &.medium {
          background-color: #ffa800;
          color: white;
          font-weight: 700;
        }

        &.urgent {
          background-color: #ff3d00;
          color: white;
          font-weight: 700;
          path {
            fill: #fff;
          }
        }
      }

      &.selected.medium {
        background-color: #ffa800;
        color: white;
        font-weight: 700;
        path {
          fill: #fff;
        }
      }
    }
  }

  // Assigend To
  .selected-contact {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    min-height: 40px;
    border-radius: 10px;
    svg {
      margin-left: auto;
    }
  }

  .dropdown-options {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    width: 300px;
    height: 400px;
    overflow: auto;
  }

  .contact-option {
    margin-bottom: 2px;
    cursor: pointer;
  }

  .assign-contact:has(.contact-checkbox:checked) {
    background-color: #2a3647;
    color: white;
    &:hover {
      background-color: #091931;
    }
  }

  .assign-contact {
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px;
    border-radius: 15px;
    &:hover {
      background-color: #f3f1f1;
    }

    .contact-name {
      width: 80%;
      font-size: 18px;
    }

    .contact-color-circle {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      min-width: 42px;
      height: 42px;
      border-radius: 50%;
      margin-right: 10px;
      border: 1px solid #fff;
    }

    .contact-checkbox {
      position: absolute;
      right: 10px;
      width: 20px;
    }
  }

  .input-wrapper-contact {
    position: relative;
  }

  .assigned-to-wrapper {
    position: relative;
    min-height: 40px;
  }

  .selected-contacts-logos {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    z-index: 0;

    .selected-contact-logo {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 5px;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 12px;
    }
  }

  // Subtasks-Bereich
  .subtasks-wrapper {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 8px;

    input {
      flex: 1;
      border: none !important;
      outline: none;
    }

    .add-subtask-link {
      display: flex;
      align-items: center;
    }
  }
}

.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  max-width: 1440px;
  width: 76%;
  bottom: 20px;

  .footer-left {
    font-size: 14px;
    .required {
      color: red;
    }
  }

  .footer-right {
    display: flex;
    gap: 20px;

    .btn {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 8px 16px;
      border: 1px solid gray;
      border-radius: 8px;
      background-color: white;
      cursor: pointer;
      transition: box-shadow 0.3s;

      &:hover {
        box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
      }

      img {
        display: inline-block;
      }
    }

    .create-btn {
      background-color: var(--footerColor);
      color: white;
      font-weight: 700;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }

  .top {
    justify-content: center;
  }

  .addtask-content {
    flex-direction: column;
    align-items: center;
    gap: 0;

    .left,
    .right {
      width: 260px;
      margin: 0;
    }
  }

  .addtask-content .left {
    border-right: none;
    padding-right: 0;
  }

  .priority-wrapper {
    .priority-option {
      width: 80px;
      padding: 4px; // reduziert den Innenabstand

      img {
        width: 16px; // setzt die Bildgröße herab
        height: auto;
      }

      span {
        font-size: 10px; // verkleinert den Text
      }
    }
  }

  .footer {
    flex-direction: column-reverse;
    text-align: center;
    padding-bottom: 40px;

    .footer-right {
      margin: 20px 0;
      display: flex;
      justify-content: center;
      gap: 40px;
      padding-right: 0;
    }
  }
}
