<div class="contact-list">
  <app-addcontact></app-addcontact>
  @for (group of groupedContacts; track group.letter) {
  <div class="letter-separator">
    {{ group.letter }}
  </div>
  @for (item of group.contacts; track item.id) {
  <div class="contact" (click)="selectContact(item)">
    <div class="logo" [style.background-color]="getRandomColor($index)">
      {{ item.name.charAt(0).toUpperCase()
      }}{{ item.lastname.charAt(0).toUpperCase() }}
    </div>
    <div class="contact-data">
      <p>{{ item.name }} {{ item.lastname }}</p>
      <a [attr.href]="'mailto:' + item.email">{{ item.email }}</a>
    </div>
  </div>
  } }
</div>
