section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}

.open-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 525px;
    height: 871px;
    background-color: white;
    border-radius: 3%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    flex-direction: column;
}

.card-content {
    width: 88%;
    display: flex;
    height: 90%;
    background-color: white;
    gap: 10px;
    flex-direction: column;
    overflow-x: auto;
}

input,
textarea,
select {
    width: 98%;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    color: black;
    margin-bottom: 20px;
}

input {
    height: 30px;
}

textarea {
    height: 125px;
    resize: none;
}

select {
    height: 25px;
}

option {
    font-size: 14px;
}

.input-field {
    margin-bottom: 20px;

    .label {
        font-size: 24px;
        margin-bottom: 5px;
    }
}

.input-field2 {
    margin-bottom: 20px;
    width: 98%;
}

.priority-wrapper {
    display: flex;
    justify-content: center;
    gap: 35px;

    .priority-option {
        flex: 1;
        max-width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 1px solid gray;
        border-radius: 8px;
        padding: 8px;
        cursor: pointer;
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
        }

        img {
            margin-right: 5px;
        }
    }

    .medium {
        background-color: yellow;
    }
}

.subtasks-wrapper {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 8px 0 8px 8px;
    border: 1px solid black;

    input {
        flex: 1;
        border: none;
        outline: none;
        font-size: 16px;
        height: 18px;
        margin-bottom: 0;
    }

    .add-subtask-link {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            width: 20px;
            height: 20px;
        }
    }
}

.ok-btn-container {
    display: flex;
    justify-content: flex-end;

    .ok-btn {
        background-color: blue;
        color: white;
        padding: 10px 18px;
        box-sizing: border-box;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-size: 24px;
        font-weight: 700;
        border: none;
        cursor: pointer;
    }

    .ok-btn:hover {
        animation-timing-function: ease-in-out;
        animation-duration: 100ms;
    }
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: black;
    opacity: 1;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
    color: black;
}

input:-moz-placeholder,
textarea:-moz-placeholder,
select:-moz-placeholder {
    color: black;
}

input::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
    color: black;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
    color: black;
}