<div class="footer">
        <a><img class="join-logo" src="./assets/img/menu/logo.svg" alt="Join Logo"></a>
        <nav class="nav-bar">
                <a><img src="./assets/img/menu/summary.svg" alt="Summary Icon">Summary</a>
                <a><img src="./assets/img/menu/task.svg" alt="Add Task Icon">Add Task</a>
                <a><img src="./assets/img/menu/board.svg" alt="Board Icon">Board</a>
                <a><img src="./assets/img/menu/contact.svg" alt="Contacts Icon">Contacts</a>
        </nav>

        <div class="policy-links-wrapper">
                <a>Privacy Policy</a>
                <a>Legal Notice</a>
        </div>
</div>